<div class="form">
  <form [formGroup]="inputForm">
    <h2>Currency Converter</h2>
      <div>
        <label>Value</label>
        <input formControlName="amount" id="amount" class="form-control" >
      </div>
      <div>
        <label>From Currency</label>
        <select formControlName="fromCurrency" id="fromCurrency" class="form-control" >
          <option *ngFor="let ind of currency" [value]="ind.value">{{ind.id}}</option>
        </select>
      </div>
      <div>
        <label>To Currency</label>
        <select formControlName="toCurrency" id="toCurrency" class="form-control" >
          <option *ngFor="let ind of currency" [value]="ind.value">{{ind.id}}</option>
        </select>
      </div>
      <div>
        <button (click)="submitButton()" id="submitButton"> 
          Click Me
        </button>
      </div>
      <div id="result">
        <p id="resValue">{{ inputForm.value.resValue }}</p>
      </div>
  </form>
</div>